body {
    background-image: url("https://wallpapersmug.com/large/3bcbc6/digital-art-neon-bubbles.jpg");
    font-family: Tahoma;
}

h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    border-color: #ff3b76;
    color:blanchedalmond;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 150px;
}


#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border: 2px solid #001b57;
    font-family: Verdana;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: Verdana;
    font-size: 17px;
    color: #ffffff;
    background-color: #0136a8;
    border-radius: 8px;
    border: 2px solid #001b57;
    
}


.userText {
    color: white;
    font-family: Verdana;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #ff3b76;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family:Verdana;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #1d0bbd;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}